<style>
    a {
    text-decoration: none;
    font-weight: 600;
    background-color: transparent;
    border: 0;
    color: #0073b1
}

a:visited {
    color: #0073b1
}

a:hover,a:focus {
    text-decoration: underline;
    color: #006097
}

a:active {
    color: #004b7c
}

a:visited {
    color: #665ed0
}

a:visited:hover {
    color: #544bc2
}

a:visited:active {
    color: #4034b0
}
</style>

<div class="badge-base LI-profile-badge" id = "a" data-locale="en_US" data-size="large" data-theme="dark" data-type="HORIZONTAL" data-vanity="nathan-hung-aab896215" data-version="v1"><a class="badge-base__link LI-simple-link" href="https://www.linkedin.com/in/nathan-hung-aab896215?trk=profile-badge"></a></div>
<script src="https://platform.linkedin.com/badges/js/profile.js" async defer type="text/javascript"></script>
