<!-- <!DOCTYPE html>
<html lan="en">

<head>
    <meta charset = "UTF-8">
    <title>Flask App</title>

    
    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>
    <h1>Car Price Estimator</h1>
    <form action="/submit" method='post'>
    
        <lable for="Year"> Year:  </lable>
        <input type="text" value = "" id="year" name="Year">
        <lable for="Mileage"> Mileage:  </lable>
        <input type="text" value="" id="mileage" name = "Mileage">

        <label for="maker">Choose a maker:</label>

        <select name="Maker" id="Maker" name = "Maker">
        <option value="Toyota">Toyota</option>
        <option value="Subaru">Subaru</option>
        </select>
        <input type = "submit" value="Submit">
      
    </form>
 
  
    <h3 id = 'test'>price is </h3>
</body>

</html>
<script type="text/javascript">

 

    
  
</script>
    
-->


    <!doctype html>
    {% extends 'layouts.html' %}
        {%block content%}
    <html lang="en">
        
      <head>
        <style>
            #resultPrice {
                background-color: green;
                opacity: 0.3;
                }
        </style>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    
        <title>Flask App</title>
      </head>
      <body>
       
       
        <h1 class="text-center" style="color: gray">Car Price Estimator</h1>
    
        <form action="/submit" method="post" class="p-5">
      
        <div class="form-row">
            <div class="form-group col-md-2">
                <label for="inputCity">Year</label>
                <select id="inputState" class="form-control" id="year" name = "Year">
                    <option>Choose...</option>
                    <option value = "2022" {% if year|int == 2022 %} selected {% endif %}>2022</option>
                    <option value = "2021" {% if year|int == 2021 %} selected {% endif %}>2021</option>
                    <option value = "2020" {% if year|int == 2020 %} selected {% endif %}>2020</option>
                    <option value = "2019" {% if year|int == 2019 %} selected {% endif %}>2019</option>
                    <option value = "2018" {% if year|int == 2018 %} selected {% endif %}>2018</option>
                    <option value = "2017" {% if year|int == 2017 %} selected {% endif %}>2017</option>
                    <option value = "2016" {% if year|int == 2016 %} selected {% endif %}>2016</option>
                    <option value = "2015" {% if year|int == 2015 %} selected {% endif %}>2015</option>
                    <option value = "2014" {% if year|int == 2014 %} selected {% endif %}>2014</option>
                    <option value = "2013" {% if year|int == 2013 %} selected {% endif %}>2013</option>
                    <option value = "2012" {% if year|int == 2012 %} selected {% endif %}>2012</option>
                </select>
                
            </div>
            <div class="form-group col-md-2">
                <label for="inputZip">Model</label>
                <select id="inputState" class="form-control" id="maker" name = "Maker">
                    <option selected>Choose...</option>
                    <option value = "Toyota" {% if maker == 'Toyota' %} selected {% endif %}>Toyota 86</option>
                    <option value = "Subaru" {% if maker == 'Subaru' %} selected {% endif %}>Subaru BRZ</option>
                </select>
               
            </div>
            <div class="form-group col-md-4">
                <label for="customRange3" class="form-label">Mileage</label>
                <input type="range" class="form-range form-control" value = {{mileage}} min="0" max="200000" step="1000" id="mileage" name = "Mileage" oninput="this.nextElementSibling.value = this.value">
                <output>{{mileage}}</output>
            </div>
        </div>
        
        <button type="submit" class="btn btn-primary border border-primary h-25">Estimate</button>
    </form>
    <!-- <div class="align-items-cente" style="height: 50px; background-color: rgb(139, 201, 165);">
        <h4 class="h-100 d-inline-block text-center align-middle" style="width: 300px;">Estimated Price: ${{price|int}}</h4>
     </div> -->
   
      <div class="d-flex justify-content-center" style="height: 50px; background-color: rgb(139, 201, 165);">
        <h4 class="p-2 bd-highlight">Estimated Price: {{ "${:,.2f}".format(price|int) }}</h4>
      </div>
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
      </body>
    </html>
    {%endblock%}

